.news div.viewCourses{
    height: 100px;
    width: 95%;
}
.resources .area-info h4{
    margin-top: 0px;
    padding-top:15px;
    border: none;

}

.resources .area-info span{
    font-size: 14px;
    margin-left: 100px;

}

.resources .area-info a {
    margin-top:5px;

}

.resources .area-info{
    height: 120px !important;
}

.news img {
    margin-top:15px;
}

.news h3 {
    color: white;
    margin-top: 50px !important;
}
.news > div.col-md-3{
    margin-left: 60px !important;
}
.news div {
    background-color: white;
    margin: 30px;
    height: 500px;

}
.news h4 {
    margin: 10px;   
}

.news p {
    padding: 30px;
}
.societiesimg {
    padding-top:100px;
}
.societies{
    padding: 0 30px 30px 30px;
}
.societies p, .societies ul{
    padding: 0 20px;
}

li.active {
    border-top: 3px solid white;
}

.nav li ul li {
    list-style-type: none;
    font-family: 'Montserrat';
    padding: 10px; 
}
.nav li ul li a{
    color: white;
}

.contact_form .text, .contact_form textarea{
    background-color: white !important;
}

/*-- Reset Code --*/

h4.list-group{
    margin-top: 50px;
}
.list-group li{
    margin: 10px;
    line-height: 30px;
    text-align: left;
    font-size: 18px;
}
/* about */

.aboutimg{
    padding: 50px;
}
/* fees */


.fees button{
    margin: 30px;
    font-size: 30px;
}
.fees button img{
    height: 50px;
}


.table-bordered tbody:nth-child(1) > tr:nth-child(1) > th:nth-child(1)
{
    background-color: #015B2D;
    color: white;
    font-size: 20px;
    
}

.table-bordered tbody:nth-child(1) > tr:nth-child(2) > th
{
    background-color: #982119;
    color: white;
    font-size: 16px;
    
}
table,th{
    text-align: center;
}

.courses button{
    width: 250px;
    margin:5px;
}

.courses, .fees, .about,.admissions, .contactpage{
    background-color: white;
    margin:90px;
    padding: 50px;
}
.map iframe{
	height: 200px !important;
}
#hod div.area-info{
    height: 300px
}
.navbar{
    background-color: #982119 !important;
    position: relative !important;
}

nav{
    margin: auto;
   
}
.viewCourses {
    
    background-color: #ffffff;
    height: 100px;
    padding: 20px;
    margin: 20px 0 0 0;
   
}



.viewCourses p{
    font-size: 20px;
    margin: auto;
    padding: 10px 0 0 0;
    width: 30%;
    
}

.container{
    background-color: #982119;
}
body{
    padding:0;
    margin:0;
    
    font-family: 'Open Sans', sans-serif;
}
body a{
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
    text-decoration: none;
}
body a:hover {
    text-decoration: none;
}
body a:focus, a:hover {
    text-decoration: none;
}
input[type="button"],input[type="submit"] {
    transition:0.5s all;
    -webkit-transition:0.5s all;
    -moz-transition:0.5s all;
    -o-transition:0.5s all;
    -ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
    margin:0;   
    padding:0;
    font-family: 'Raleway', sans-serif;
}
h3 {
    text-align: center;
    color: #545A5F;
    font-size: 35px;
    font-weight: 600;
    padding: 50px 0;
}
p{
    margin:0;
}
ul{
    margin:0;
    padding:0;
}
label{
    margin:0;
}

a:focus, a:hover {
    text-decoration: none;
    outline: none
}

/*-- //Reset Code --*/

/*-- Index-Page-Styling --*/

/*-- Navbar --*/
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
    position: absolute;
    z-index: 99999;
    width: 85%;
    text-align: center;
}
.navbar-nav {
    width: 100%;
}
.navbar-nav>li {
    width: 14.28%;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color: transparent;
    color: #EEE
}
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #FFF;
}
.navbar-inverse .navbar-nav>li>a {
    color: #EEE;
    font-family: 'Montserrat';
}
/*-- //Navbar --*/
/* Effect 7: second border slides up */
.cl-effect-7 a {
    text-shadow: none;
}

.cl-effect-7 a::before,
.cl-effect-7 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #EEE;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    transform: scale(0.85);
}

.cl-effect-7 a::after {
    opacity: 0;
    -webkit-transition: top 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: top 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: top 0.3s, opacity 0.3s, transform 0.3s;
}

.cl-effect-7 a:hover::before,
.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::before,
.cl-effect-7 a:focus::after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.cl-effect-7 a:hover::after,
.cl-effect-7 a:focus::after {
    top: 0%;
    opacity: 1;
}

/*--- slider-css --*/
.slider {
    position: relative;
}
.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}
.rslides li {
    -webkit-backface-visibility: hidden;
    position: relative;
    display: none;
    width: 100%;
    left: 0;
    top: 0;
}
.rslides li:first-child {
    position: relative;
    display: block;
    float: left;
}
.rslides img {
    display: block;
    height: 400px;
    float: left;
    width: 100%;
    border: 0;
}
.rslides .caption{
    position: absolute;
    text-align:center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 500px;
}
.rslides .caption h3 {
    color: #FFF;
    font-weight: 700;
    font-size: 60px;
    margin: 100px 0 40px 0px;
}
.rslides .caption span {
    color: #2196F3;
}
.rslides .caption p {
    color: #FFF;
    line-height: 1.5em;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 40px 0;
}
a.morebtn {
    background: transparent;
    padding: 15px 0;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFF;
    width: 15%;
    margin: 0 auto;
    border: 1px solid #fff;
}
.callbacks_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    opacity: 0.7;
    z-index: 3;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 61px;
    width: 38px;
    background: transparent url("../images/themes.gif") no-repeat left top;
    margin-top: -45px;
    }
.callbacks_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
    }

ul.callbacks_tabs.callbacks1_tabs {
    display: none;
}
.callbacks_nav {
    left: 20px;
}
.callbacks_nav.next {
    right: 20px;
}

.area {
/*     background: url("../images/world.jpg"); */
    
    background-repeat: no-repeat;
    padding: 50px 0;
    background-size: cover;
}
h1 {
    text-align: center;
    color: #FFF;
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 50px;
}
.area-image {
    overflow: hidden;
}
.area-image img {
    height: 300px;
    width: 100%;
    transition: all 2s ease-in-out 0s;
    -webkit-transition: all 2s ease-in-out 0s;
    -moz-transition: all 2s ease-in-out 0s;
    -o-transition: all 2s ease-in-out 0s;
}
.area-image img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
}
.area-info {
    background-color: #FFF;
    padding: 0 20px;
    position: relative;
    margin-left: 50/px;
}
.area-info h4 {

    text-align: center;
    font-size: 20px;
    font-weight: 700;
    width: 80%;
    padding: 50px 10px 10px 10px;
    margin:0 40px 0 40px;
    color: #009688;
    border-bottom: 3px solid #395B74;
}
.area-info p {
    
    text-align: center;
    padding: 20px 50px 0 50px;
    font-size: 14px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 500;
    line-height: 30px;
    color: #9C9999;
    height: 170px;
    overflow: hidden;
}
.area-info a{
    margin-top:5px;
    margin-left: 100px;
}

.offer p {
   
    text-align: center;
    padding-bottom: 25px;
    width: 30%;
    font-size: 20px;
    margin: 0 auto;
    border-bottom: 3px solid #395B74;
    
}
.offer-grid {
    margin-top: 50px;
}
.offer1 {
    margin-bottom: 50px;
}
.offer-icon {
    float: left;
}
.offer-icon img {
    width: 100px;
}
.offer-info {
    margin-left: 130px;
}
.offer-info h4 {
    font-size: 25px;
    font-weight: 700;
    color: #009688;
    padding-bottom: 30px;
}
.offer-info p {
    width: 100%;
    border: none;
    text-align: left;
    font-size: 14px;
    line-height: 30px;
    padding-bottom: 0;
    color: #A09393;
}

.cover {
/*     background-color: rgba(238, 238, 238, 0.38); */
}
.cover p {
    font-size: 21px;
    padding-bottom: 25px;
    text-align: center;
    width: 20%;
    margin: 0 auto;
    border-bottom: 3px solid #498466;
    color: white;
    font-weight:700;
}

.cover-grid {
	margin: 50px 0 50px;
}

.caption {
	display: inline-block;
	position: relative;
}

.caption img {
	display: block;
}

/* Slide in on hover (animate transforms) */
.caption-3 {
	overflow: hidden;
	background: #000;
}

.caption-3 img {
    width: 100%;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.caption-3:hover img {
	opacity: 0.5;
}

.caption-3::after,
.caption-3::before {
	position: absolute;
	width: 100%;
	height: 50%;
	color: #fff;
	z-index: 1;
	-webkit-transition: -webkit-transform 0.3s ease-in-out; 
	-moz-transition: -moz-transform 0.3s ease-in-out; 
	transition: transform 0.3s ease-in-out; 
}

.caption-3::after {
    content: attr(data-title);
    top: 0;
    background: rgba(0, 0, 0, 0.15);
    font-size: 30px;
    color: #009688;
    font-weight: 600;
    padding: 30px;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.caption-3::before {
    content: attr(data-description);
    top: 50%;
    background: rgba(0, 0, 0, 0.15);
    font-size: 14px;
    padding: 20px;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    transform: translateY(100%);
}

.caption-3:hover::after,
.caption-3:hover::before {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	transform: translateY(0%);
}

.details {
    padding: 30px 0;
    border-bottom: 1px solid #EEE;
}
.details h2 {
    text-align: center;
    color: #545A5F;
    font-size: 35px;
    font-weight: 600;
    padding-top: 20px;
}
.details h3 {
    padding: 40px 0 10px;
    font-size: 25px;
    font-weight: 600;
    color: #009688;
    width: 35%;
    margin: 0 auto;
    border-bottom: 3px solid #06638C;
    margin-bottom: 50px;
}
.news-top {
    margin-bottom: 20px;
}
.news-icon {
    float: left;
}
.news-icon img {
    width: 85px;
}
.news-info {
    padding-left: 125px;
}
.news-info h4 {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #3AA5D4;
}

ol.flex-control-nav.flex-control-paging {
    display: none;
}
ul.flex-direction-nav {
    display: none;
}
.reviews h4 {
    text-align: center;
    font-size: 25px;
}
.reviews p {
    line-height: 25px;
    color: #333333;
    font-size: 14px;
    padding-top: 15px;
}
.client {
    float: right;
}
.client p {
    font-size: 14px;
    font-weight: 600;
    line-height: 25px;
    padding: 0;
}

.locations img {
    width: 100%;
}


/*-- Edifice-Starts-Here --*/
.gallery {
    padding-bottom: 50px;
    border-bottom: 1px solid #EEE;
    text-align: center;
}
/*-- //Edifice-Ends-Here --*/

/*-- Contact-Starts-Here --*/
.contact {
    padding-bottom: 50px;
    background-color: #982119;
    margin:50px 0 70px 0;
}
.contact h3 {
    padding-bottom: 50px;
    color: white;
}
.contact_form input[type='text'] {
    width: 100%;
    border-radius: 0;
    line-height: 22px;
    font-size: 13px;
    padding: 14px 17px 14px;
    outline: none;
    color: #5d5d5d;
    height: 50px;
    border: 1px solid #d5d5d5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0 20px;
    background: none;
}
.contact_form textarea {
    width: 100%;
    border-radius: 0;
    line-height: 22px;
    font-size: 13px;
    padding: 14px 17px 14px;
    outline: none;
    border: 1px solid #d5d5d5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    color: #5d5d5d;
    height: 191px;
    background: none;
}
form.contact_form {
    text-align: center;
}
.message {
    margin-bottom: 30px;
}
.more_btn {
    padding: 13px 30px;
    border: 1px solid #333;
    font-size: 16px;
    color: #333;
    background-color: #FAFAFA;
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.more_btn:hover {
    color: #FFF;
    background-color: #142127;
    cursor: pointer;
}
/*-- //Contact-Ends-Here --*/

/*-- Map-Starts-Here --*/
.map iframe {
    width: 100%;
    height: 500px;
    border: 5px solid #FAFAFA;
}
/*-- //Map-Ends-Here --*/

/*-- Footer-Starts-Here --*/
.footer {
/*     background: url("../images/world.jpg"); */
}
.social {
    padding: 30px 0;
    text-align: center;
}
.footer-info {
    margin-top: 50px;
}
.footer-info h4 {
    color: #EEE;
    padding: 20px 0;
    font-weight: 600;
}
.footer-info li {
    color: #EEE;
    display: block;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
}
.links a {
    color: #EEE;
}
.links a:hover {
    color: #FFF;
    text-decoration: underline;
}
a.mail {
    color: #EEE;
}
a.mail:hover {
    color: #2AFFF5;
}
.footer-info p {
    color: #EEE;
    font-weight: 300;
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 10px;
}
.newsletter {
    position: relative;
}
.newsletter .email {
    padding: 5px 60px 5px 15px;
    font-style: italic;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    height: 40px;
    border: 1px solid #ddd;
    min-width: 100%;
}
.newsletter .email {
    color: #bcc0c4;
    background-color: #565f66;
    border: none;
}
.newsletter .submit {
    width: 40px;
    height: 40px;
    background-image: url('../images/subscribe.png');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    background-color: #006db7;
    top: 0;
    right: 0;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -ms-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}


ul.social li {
    display: inline-block;
}
ul.social li a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: url("../images/img-sprite.png") no-repeat 0px 0px;
}
ul.social li a.facebook {
    background-position: 0px 0px;
}
ul.social li a.facebook:hover {
    background-position: 0px -50px;
}
ul.social li a.twitter {
    background-position: -50px 0px;
}
ul.social li a.twitter:hover {
    background-position: -50px -50px;
}
ul.social li a.googleplus {
    background-position: -100px 0px;
}
ul.social li a.googleplus:hover {
    background-position: -100px -50px;
}
ul.social li a.instagram {
    background-position: -150px 0px;
}
ul.social li a.instagram:hover {
    background-position: -150px -50px;
}
ul.social li a.youtube {
    background-position: -200px 0px;
}
ul.social li a.youtube:hover {
    background-position: -200px -50px;
}

.copyright {
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #EEE;
}
.copyright p {
    color: #FFF;
}
.copyright a {
    color: #FFF;
    text-decoration: none;
}
.copyright a:hover {
    color: #009688;
    text-decoration: underline;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 15px;
    overflow: hidden;
    width: 40px;
    height: 21px;
    border: none;
    text-indent: 100%;
    background: url("../images/to-top2.png") no-repeat 0px 0px;
}
/*-- //Footer-Ends-Here --*/

.slideanim {}
.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide; 
    /* The duration of the animation */
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible; 
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    } 
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}

/*-- //Index-Page-Styling --*/

/*--- Responsive Code ---*/

@media screen and (max-width:1920px) {
    .navbar {
        width: 79.95%;
    }
    .navbar-nav>li {
        width: 10.5%;
    }
}

@media screen and (max-width:1680px) {
    .navbar {
        width: 84%;
    }
    .navbar-nav>li {
        width: 11.5%;
    }
}

@media screen and (max-width:1600px) {
    .navbar {
        width: 86%;
    }
    .navbar-nav>li {
        width: 11.75%;
    }
}

@media screen and (max-width:1440px) {
    .navbar {
        width: 90%;
    }
    .navbar-nav>li {
        width: 12.5%;
    }
}

@media screen and (max-width:1366px) {
    .navbar {
        width: 84.5%;
    }
    .navbar-nav>li {
        width: 14.28%;
    }
}

@media screen and (max-width:1280px) {
    .navbar {
        width: 89%;
    }
}

@media screen and (max-width:1080px) {
    .navbar {
        width: 89%;
    }
    .area-info h4 {
        width: 90%;
    }
    .area-info p {
        padding: 10px 0;
        line-height: 25px;
    }
    .offer p {
        width: 35%;
    }
    .offer-info p {
        width: 100%;
    }
    .offer-info h4 {
        padding-bottom: 15px;
    }
    .caption-3::before {
        font-size: 13px;
    }
    .caption-3::after {
        font-size: 25px;
    }
    .newsletter .email {
        padding: 5px 40px 5px 10px;
        font-size: 13px;
    }
    .newsletter .submit {
        width: 35px;
    }
}

@media screen and (max-width:1024px) {
    .navbar {
        width: 91%;
    }    
    .map iframe {
        height: 400px;
    }
}

@media screen and (max-width:966px) {
 .viewCourses p{
    font-size: 20px;
    margin: auto;
    padding: 10px 0 0 0;
    width: 50%;
    
}

    .navbar {
        width: 75%;
    }
    .rslides .caption h3 {
        font-size: 50px;
    }
    .area-info h4 {
        /*! width: 100%; */
    }
    .offer p {
        width: 40%;
    }
    .offer-info p {
        width: 100%;
    }
    .cover p {
        width: 25%;
    }
    .cover-top-grid {
        width: 33%;
        float: left;
    }
    .cover-bottom-grid {
        width: 33%;
        float: left;
    }
    .caption-3::after {
        padding-top: 10px;
    }
    .details-grid {
        width: 33%;
        float: left;
    }
    .news-info {
        padding-left: 100px;
    }
    .news-info h4 {
        padding-top: 0;
    }
    .footer-info-grid {
        width: 25%;
        float: left;
    }
    .footer-info li {
        font-size: 12px;
    }
    .address li {
        line-height: 25px;
    }
    .newsletter .email {
        width: 110%;
    }
    .newsletter .submit {
        right: -8px;
    }
}

@media screen and (max-width:853px) {
    .navbar {
        width: 85%;
    }
    .rslides .caption h3 {
        font-size: 45px;
    }
    .area-info h4 {
        font-size: 17px;
    }
    .area-info p {
        line-height: 20px;
        font-size: 13px;
    }
    .offer-icon img {
        width: 85px;
    }
    .offer-info {
        margin-left: 100px;
    }
    .offer-info p {
        font-size: 13px;
    }
    .offer-info h4 {
        font-size: 20px;
    }
    .news-icon img {
        width: 75px;
    }
    .news-info {
        padding-left: 90px;
    }
    .news-info h4 {
        font-size: 17px;
    }
    .reviews h4 {
        font-size: 20px;
    }
    .reviews p {
        line-height: 20px;
        font-size: 13px;
    }
    .newsletter .email {
        padding: 5px 25px 5px 10px;
    }
    .newsletter .submit {
        right: -30px;
    }
    .footer-info p {
        font-size: 12px;
        line-height: 20px;
    }
    .address li {
        line-height: 21px;
    }
}

@media screen and (max-width:800px) {
    .navbar {
        width: 91%;
    }
    .area-info h4 {
        font-size: 16px;
    }
    .rslides .caption h3 {
        font-size: 40px;
    }
    .offer p {
        width: 45%;
    }
    .offer-info p {
        width: 100%;
    }
    .cover p {
        width: 30%;
    }
    .caption-3::after {
        font-size: 20px;
    }
    .details h3 {
        font-size: 20px;
        width: 45%;
    }
    .newsletter .email {
        padding: 5px 15px 5px 10px;
        font-size: 12px;
    }
    .newsletter .submit {
        right: -15px;
    }
}

@media screen and (max-width:768px) {
    
.viewCourses p{
    font-size: 20px;
    margin: auto;
    padding: 10px 0 0 0;
    width: 50%;
    
}


    .navbar {
        width: 95%;
    }
    .area-info h4 {
        font-size: 15px;
    }
    .cover-top-grid {
        width: 50%;
        float: left;
    }
    .cover-bottom-grid {
        width: 50%;
        float: left;
    }
    .address li {
        line-height: 19px;
    }
    .newsletter .email {
        padding: 5px 35px 5px 5px;
    }
    .newsletter .submit {
        right: -20px;
    }
}

@media screen and (max-width:736px) {
    div#bs-example-navbar-collapse-1 {
        float: right;
        width: 50%;
        background-color: rgba(0, 0, 0, 0.83);
        border: none;
    }
    .navbar-nav {
        margin: 5px 0;
    }
    .navbar-nav>li {
        width: 100%;
    }
    .rslides .caption p {
        font-size: 15px;
        margin: 0;
    }
    .air, .sea, .land {
        width: 33.3%;
        float: left;
        padding: 0 5px;
    }
    .offer1 {
        width: 50%;
        float: left;
        padding: 0 5px;
    }
    .news-info h4 {
        font-size: 16px;
        line-height: 28px;
    }
    .c1 {
        width: 50%;
        float: left;
    }
    .map iframe {
        height: 300px;
    }
    .newsletter .email {
        padding: 5px 40px 5px 5px;
    }
    .newsletter .submit {
        right: -15px;
    }
    .social {
        padding-top: 0;
    }
    ul.social li a {
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("../images/img-sprite.png") no-repeat 0px 0px;
        background-size: 200px;
    }
    ul.social li a.twitter {
        background-position: -35px 0px;
    }
    ul.social li a.twitter:hover {
        background-position: -34px -33px;
    }
    ul.social li a.googleplus {
        background-position: -69px 0px;
    }
    ul.social li a.googleplus:hover {
        background-position: -68px -34px;
    }
    ul.social li a.instagram {
        background-position: -102px 0px;
    }
    ul.social li a.instagram:hover {
        background-position: -102px -35px;
    }
    ul.social li a.youtube {
        background-position: -135px 0px;
    }
    ul.social li a.youtube:hover {
        background-position: -135px -33px;
    }
}

@media screen and (max-width:667px) {
    .rslides .caption h3 {
        font-size: 35px;
    }
    .area-info h4 {
        font-size: 14px;
    }
    .area-info p {
        font-size: 12px;
    }
    .offer p {
        width: 55%;
    }
    .offer-info h4 {
        font-size: 18px;
    }
    .offer-info p {
        font-size: 12px;
        width: 100%;
    }
    .details h3 {
        width: 60%;
    }
    .caption-3::after {
        font-size: 16px;
        padding: 10px;
    }
    .caption-3::before {
        font-size: 12px;
        padding: 0 0 0 5px;
    }
    .reviews h4 {
        font-size: 18px;
    }
    .newsletter .email {
        height: 30px;
        padding: 5px 30px 5px 5px;
    }
    .newsletter .submit {
        right: -16px;
        height: 30px;
        width: 30px;
    }
}

@media screen and (max-width:640px) {
    .area-info h4 {
        font-size: 16px;
    }
    .cover p {
        width: 35%;
    }
    .news-info h4 {
        font-size: 15px;
        line-height: 30px;
    }
    .newsletter .submit {
        right: -22px;
    }    
    .contact_form input[type='text'] {
        padding: 10px 17px 10px;
        height: 35px;
    }
    .contact_form textarea {
        height: 145px;
    }
    .newsletter .email {
        padding: 5px 22px 5px 5px;
    }
}

@media screen and (max-width:603px) {
    .rslides .caption h3 {
        font-size: 30px;
    }
    .offer p {
        width: 60%;
    }
    .offer-info p {
        width: 100%;
    }
    .caption-3::after {
        font-size: 15px;
        padding: 10px 0 0px 5px;
    }
    .news-icon img {
        width: 50px;
    }
    .news-info {
        padding-left: 60px;
    }
    .news-info h4 {
        font-size: 14px;
        line-height: 25px;
    }
    .reviews h4 {
        font-size: 17px;
    }
    .reviews p {
        line-height: 15px;
        font-size: 12px;
    }
    .newsletter .email {
        padding: 5px 25px 5px 5px;
    }
    .newsletter .submit {
        right: -15px;
        width: 25px;
    }
    .footer-info h4 {
        font-size: 15px;
        padding: 15px 0;
    }
}

@media screen and (max-width:568px) {
    .offer p {
        width: 65%;
    }
    .offer-icon img {
        width: 60px;
    }
    .offer-info {
        margin-left: 75px;
    }
    .offer-info h4 {
        font-size: 16px;
    }
    .offer-info p {
        width: 100%;
    }
    .cover p {
        width: 40%;
    }
    .details h3 {
        margin-bottom: 20px;
        width: 40%;
    }
    .footer-info-grid {
        width: 24%;
        float: left;
        margin-right: 0.3%;
    }
    .news, .reviews {
        width: 50%;
        float: left;
    }
    .locations {
        width: 80%;
        margin-left: 10%;
    }
    .more_btn {
        padding: 8px 25px;
        font-size: 14px;
    }
    .address li {
        line-height: 18px;
    }
    .newsletter .email {
        width: 125%;
    }
    .newsletter .submit {
        right: -30px;
    }
    .map iframe {
        height: 250px;
    }
}

@media screen and (max-width:533px) {
    .newsletter .email {
        width: 150%;
    }
    .newsletter .submit {
        right: -43px;
    }
}

@media screen and (max-width:480px) {
   .viewCourses p{
    font-size: 20px;
    margin: auto;
    padding: 10px 0 0 0;
    width: 80%;
    
}

    .rslides .caption h3 {
        margin: 125px 0 0 0;
        font-size: 25px;
    }
    .callbacks_nav {
        left: 0;
    }
    .callbacks_nav.next {
        right: 0;
    }
    .area-info h4 {
        font-size: 15px;
    }
    .offer p {
        width: 75%;
    }
    .offer-info p {
        width: 100%;
    }
    .cover p {
        width: 45%;
    }
    .footer-info-grid {
        width: 50%;
        margin-bottom: 20px;
        margin-right: 0;
    }
    .newsletter .email {
        padding: 5px 30px 5px 5px;
        width: 100%;
    }
    .newsletter .submit {
        right: 0px;
    }
}

@media screen and (max-width:414px) {
    div#bs-example-navbar-collapse-1 {
        width: 100%;
    }
    .callbacks_nav {
        margin-top: -15px;
    }
    .rslides .caption h3 {
        margin-top: 135px;
    }
    .air, .sea, .land {
        width: 100%;
        margin-bottom: 20px;
    }
    .area-info h4 {
        font-size: 16px;
        width: 65%;
    }
    .area-info p {
        font-size: 13px;
        padding: 15px 0;
        line-height: 25px;
    }
    .offer p {
        font-size: 18px;
        width: 85%;
    }
    .offer1 {
        width: 100%;
    }
    .offer-info h4 {
        font-size: 20px;
    }
    .offer-info p {
        width: 100%;
        font-size: 13px;
    }
    .cover p {
        width: 53%;
    }
    .cover-top-grid, .cover-bottom-grid {
        width: 100%;
        margin-bottom: 10px;
    }
    .caption-3::after {
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
    }
    .caption-3::before {
        font-size: 15px;
        padding: 15px;
        text-align: center;
    }
    .details h3 {
        width: 35%;
    }
    .news, .reviews {
        width: 100%;
        float: left;
    }
    .news-info h4 {
        font-size: 16px;
        padding-top: 5px;
    }
    .reviews p {
        line-height: 20px;
        font-size: 13px;
        padding: 10px;
    }
    .client p {
        padding: 0 10px;
    }
    .locations {
        width: 100%;
        margin-left: 0;
    }
    .c1 {
        width: 100%;
    }
    .contact_form input[type='text'] {
        padding: 10px;
    }
    .address li {
        line-height: 20px;
    }
    .newsletter .email {
        width: 110%;
    }
    .newsletter .submit {
        right: -15px;
    }
}

@media screen and (max-width:384px) {
    .area-info h4 {
        width: 70%;
    }
    .cover p {
        width: 57%;
    }
    .footer-info p {
        line-height: 30px;
    }
}

@media screen and (max-width:375px) {
    .rslides .caption h3 {
        margin-top: 150px;
    }
    .area-info h4 {
        width: 75%;
    }
    .footer-info p {
        line-height: 23px;
    }
}

@media screen and (max-width:360px) {
    h3 {
        font-size: 30px;
    }
    .offer p {
        width: 90%;
    }
    .offer-info p {
        width: 100%;
    }
    .cover p {
        width: 65%;
    }
    .footer-info p {
        line-height: 24px;
    }
}

@media screen and (max-width:320px) {
    .rslides .caption h3 {
        margin-top: 160px;
        font-size: 20px;
    }
    .rslides .caption p {
        font-size: 13px;
        margin-top: 25px;
    }
    .area-info h4 {
        width: 80%;
    }
    .offer p {
        width: 100%;
        font-size: 16px;
    }
    .offer-info h4 {
        font-size: 17px;
    }
    .offer-info p {
        font-size: 13px;
    }
    .cover p {
        width: 70%;
    }
    .details h3 {
        width: 45%;
    }
    .footer-info p {
        line-height: 20px;
    }
    .newsletter .email {
        font-size: 11px;
        padding: 5px 25px 5px 2px;
    }
}

/*--- //Responsive Code ---*/